<div class="tab description" data-group="primary" data-tab="description">
    <div class="sheet-tab flexcol">
        {{#if isCharacter}}
            <section class="sheet-attributes flexrow">
                <div class="cell cell--image bio-image">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" height="100" width="100"/>
                </div>
                <div class="cell cell--bio biography">
                    <div class="bio-header">Notes</div>
                    {{editor system.details.notes.value target="system.details.notes.value" button=true owner=owner editable=editable}}
                </div>
            </section>
        {{/if}}
    </div>
</div>
